rio = #F0382B
rio-oscuro = #E3161A
@import url(http://fonts.googleapis.com/css?family=Quattrocento)
@import url(http://fonts.googleapis.com/css?family=Ruluko)


body
	background-color rio
	height 100%
	margin 0
	overflow hidden
	padding 0

#imagen
	overflow hidden
	z-index -2
	border-top 7px solid rio-oscuro
	img
		height 100%
		width 100%

.uno
	background-repeat repeat
	height 100%
	overflow hidden
	z-index 99



.contenido
	background rio
	border-top 7px solid rio-oscuro
	height 250px
	width 100%
	img
		width 40%
		float right
		margin-top 5%
		margin-right 8%
	h3
		color white
		font-family 'Quattrocento', serif
		margin-left 60%
		margin-top 1%
		
		
	p
		color white
		float left
		font-family 'Ruluko', sans-serif
		font-size 1.5em
		margin-left 4%
		margin-top 6%
		text-align center
		width 45%


  

 	
	 	